<%- include('partial/header.ejs') %>
<%- include('partial/nav.ejs') %>
<div class="container">
    <h1>Browsing The <%= name%></h1>
    <h2><%= description %></h2>
    <h3>Total : <%= subscribers %></h3>
    <hr>
    <% for(let i of posts) {%>
        <article>
            <p><%= i.title %> - <b><%= i.author %></b></p>
            <% if(i.img){ %>
                <img src=<%= i.img %> />
            <%} %>
        </article>
    <% } %>
  </div>
<%- include('partial/footer.ejs') %>