<%- include('partial/header.ejs') %>
<%- include('partial/nav.ejs') %>
    <h1> Your random number is :<%= rand %></h1>
        <% if(rand%2 === 0) { %>
            <h2>THIS IS EVEN</h2>
        <% } else {%>
            <h2>THIS IS ODD</h2>
        <% } %>
    <h3><%= rand%2===0 ? 'EVEN' : 'ODD' %></h3>
<%- include('partial/footer.ejs') %>